<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levor.liferpg" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.Obsolete.TasksActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.Obsolete.CharacteristicActivity"
            android:label="@string/title_activity_characteristic" >
        </activity>
        <activity
            android:name=".View.Obsolete.SkillsActivity"
            android:label="@string/title_activity_skills" >
        </activity>
        <activity
            android:name=".View.Obsolete.DetailedTaskActivity"
            android:label="@string/title_activity_detailed_task" >
        </activity>
        <activity
            android:name=".View.Obsolete.AddTaskActivity"
            android:label="@string/title_activity_add_task" >
        </activity>
        <activity
            android:name=".View.Obsolete.DetailedSkillActivity"
            android:label="@string/title_activity_detailed_skill" >
        </activity>
        <activity
            android:name=".View.Obsolete.DetailedCharacteristicActivity"
            android:label="@string/title_activity_detailed_characteristic" >
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
