<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levor.liferpg" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.TasksActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.CharacteristicActivity"
            android:label="@string/title_activity_characteristic" >
        </activity>
        <activity
            android:name=".View.SkillsActivity"
            android:label="@string/title_activity_skills" >
        </activity>
        <activity
            android:name=".View.DetailedTaskActivity"
            android:label="@string/title_activity_detailed_task" >
        </activity>
        <activity android:name=".View.AddTaskActivity"
                  android:label="@string/title_activity_add_task">
        </activity>
        <activity
            android:name=".View.DetailedSkillActivity"
            android:label="@string/title_activity_detailed_skill" >
        </activity>
    </application>

</manifest>
